.search-food input{
    border: 2px solid black;
    height: 30px;
    width: 200px;
}
.search-icon{
    position: relative;
    left: -25px;
    top: 2px;
}
.sort-food select{
    border: 2px solid black;
    height: 30px;
}

@media only screen and (max-width:600px){
    .search-icon {
            left: -35px;
        }
        .search-food input {
            width: 180px;
        }
        .sort-food select{
            width: 80px;
        }
}